{
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"printWidth": 100,
	"singleAttributePerLine": false,
	"trailingComma": "all",
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "*.{yml,yaml,nix,hcl}",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"plugins": [
		"prettier-plugin-svelte"
	]
}
